Source: leonidia-util
Priority: extra
Maintainer: Evgeny Safronov <division494@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libboost-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/leonidia
Vcs-Git: git://github.com/leonidia/util.git
Vcs-Browser: https://github.com/leonidia/util

Package: libleonidia-util1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Util - Common useful C++ components.
 Common C++ components that makes your life much easier.

Package: libleonidia-util-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libleonidia-util1 (= ${binary:Version}),
 libboost-dev
Description: Util - Development headers.
 Development headers package for common useful C++ components.
